{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": "2018",
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-prettier"
  ],
  "plugins": [
    "eslint-plugin-cypress"
  ],
  "rules": {
    "valid-typeof": "error"
  },
  "env": {
    "browser": true,
    "jest": true,
    "cypress/global": true
  }
}